@charset "UTF - 8";

:root {
    --primary: #f0ec13d0;
    --primary-dark: #0606019e;
    --primary-light: rgba(255, 107, 0, 0.1);
    --secondary: #231d4a;
    --dark: #2D3436;
    --light: #F5F6FA;
    --gray: #DFE6E9;
    --success: #d0d60f;
    --error: #D63031;
    --border-radius: 16px;
    --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

}

body {

    background-color: var(--gray);
    background: url(/static/imagens/logo_deliverymoto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div#login_fundo {
    background-color: var(--light);
    opacity: .9;
    margin: 10% 30% auto 30%;
    text-align: center;
    border-radius: 20%;
    font-weight: bold;
    background-attachment: fixed;
 

}

div#login_frente {
    background-color: var(--primary);
    opacity: .9;
    margin: 5% auto;
    text-align: center;
    border-radius: 20%;
    font-weight: bold;
}

label{

    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 30px;
}

input{

    border-radius: 30px;
    font-size: 30px;
    font-weight: bold;
}

input:focus{

    background-color: var(--primary);
    color: var(--dark);
}

button{
    background-color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10%;
}

button:hover{

    background-color: var(--primary);
    font-size: 37px;
}