<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Meu Sistema</title>

  <!-- CSS -->
  <link rel="stylesheet" href="login.css">
</head>

<body>

  <!-- LOADING -->
  <div id="loading">
    <img src="/static/imagens/logo_natal.jpg" alt="Logo">
    <p>Carregando...</p>
  </div>

  <!-- APLICAÇÃO -->
  <div id="app" style="display:none;">
    <h1>Sistema carregado</h1>
    <!-- aqui entra TODO o seu site -->
  </div>

  <!-- JS -->
  <script src="script.js"></script>
</body>
</html>
